:root {
    --Gold-500: hsl(31, 77%, 52%);
    --Cyan-800: hsl(184, 100%, 22%);
    --Green-950: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Gray-100: hsl(0, 0%, 95%);
    --border-radius-card: 10px;

    --font-family-html: 'Lexend Deca', sans-serif;
    --font-weight-html: 400;
    --font-style-html: normal;

    --font-family-title: 'Big Shoulders', sans-serif;
    --font-weight-title: 700;
    --font-style-title: normal;
    --font-size-title: 2.25rem;

    --font-size-p: 0.95rem;
    --line-height-p: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-html);
    font-style: var(--font-style-html);
}

body {
    background-color: var(--Gray-100);
    padding: 2rem 2rem 0;
}

main {
    max-width: 1000px;
}

.sedans {
    background-color: var(--Gold-500);
    border-top-left-radius: var(--border-radius-card);
    border-top-right-radius: var(--border-radius-card);
}

.suvs {
    background-color: var(--Cyan-800);
}

.luxury {
    background-color: var(--Green-950);
    border-bottom-left-radius: var(--border-radius-card);
    border-bottom-right-radius: var(--border-radius-card);
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem;
}

.card h2 {
    text-transform: uppercase;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-style: var(--font-style-title);
    color: var(--Gray-100);
}

.card p {
    color: var(--Transparent-white);
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}

.card a {
    place-self: center start;
    background-color: var(--Gray-100);
    padding: 0.9rem 1.8rem;
    border-radius: 30px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 1rem;
}

.sedans a {
    color: var(--Gold-500);
}

.suvs a {
    color: var(--Cyan-800);
}

.luxury a {
    color: var(--Green-950);
}

@media (min-width: 890px) {
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card a {
        margin-top: 2.5rem;
    }

    .sedans {
        border-top-right-radius: unset;
        border-bottom-left-radius: var(--border-radius-card);
    }

    .luxury {
        border-top-right-radius: var(--border-radius-card);
        border-bottom-left-radius: unset;
    }
}
