:root {
    --Gold-500: hsl(31, 77%, 52%);
    --Cyan-800: hsl(184, 100%, 22%);
    --Green-950: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Gray-100: hsl(0, 0%, 95%);
    --border-radius-card: 10px;
    
    --font-family-html: "Lexend Deca", sans-serif;
    --font-weight-html: 400;
    --font-style-html: normal;
    --line-height-html: 1.5;

    --font-family-title: "Big Shoulders", sans-serif;
    --font-weight-title: 700;
    --font-style-title: normal;
    --font-size-title: 2.25rem;

    --font-size-p: 0.95rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-html);
    font-style: var(--font-style-html);
    line-height: var(--line-height-html);
}

main {
    padding: 4rem 2rem;
    display: grid;
    justify-content: center;
}

.wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: 2rem;
}

.sedans {
    background-color: var(--Gold-500);
    border-top-left-radius: var(--border-radius-card);
    border-top-right-radius: var(--border-radius-card);
}

.suvs {
    background-color: var(--Cyan-800);
}

.luxury {
    background-color: var(--Green-950);
    border-bottom-left-radius: var(--border-radius-card);
    border-bottom-right-radius: var(--border-radius-card);
}

.card h2 {
    text-transform: uppercase;
    color: var(--Gray-100);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    font-style: var(--font-style-title);
}

.card p {
    color: var(--Gray-100);
    font-size: var(--font-size-p);
}

.card a {
    align-items: center;
    justify-self: start;
    background-color: var(--Gray-100);
    padding: 0.75rem 1.8rem;
    border-radius: 30px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 2rem;
}

.sedans a {
    color: var(--Gold-500);
}

.suvs a {
    color: var(--Cyan-800);
}

.luxury a {
    color: var(--Green-950);
}

@media (min-width: 660px) {
    html,
    body {
        height: 100%;
    }

    main {
        height: calc(100% - 20px);
        place-content: center;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .luxury {
        grid-column: 1 / -1;
    }

    .sedans {
        border-top-right-radius: unset;
    }

    .suvs {
        border-top-right-radius: var(--border-radius-card);
    }
}

@media (min-width: 860px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .card a {
        margin-top: 4rem;
    }

    .luxury {
        grid-column: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: var(--border-radius-card);
    }

    .suvs {
        border-top-right-radius: unset;
    }

    .sedans {
        border-bottom-left-radius: var(--border-radius-card);
    }
}